{% extends 'base.html' %}

{% block content %}
<br><h1>EDIT PATIENT</h1>

<form action="/patients/{{patient.id}}" method="post">
    <label for="alias">ALIAS</label><br>
    <input type="text" name="alias" id="alias" value="{{patient.alias}}"><br>

    <label for="name">NAME</label><br>
    <input type="text" name="name" id="name" value="{{patient.name}}"><br>

    <label for="age">AGE</label><br>
    <input type="text" name="age" id="age" value="{{patient.age}}"><br>

    <label for="enhanced">ENHANCED:</label>
    <input type="checkbox" id="enhanced" name="enhanced" value="{{patient.enhanced}}"><br>
  

    <label for="vigilante">APPREHENDED BY:</label><br>
    <select name="vigilante_id" id="vigilante">
        {% for vigilante in vigilantes %}
        <option value="{{ vigilante.id }}">{{ vigilante.name }}</option>
        {% endfor %}
    </select><br>

    <label for="doctor">TREATED BY:</label><br>
    <select name="doctor_id" id="doctor">
        {% for doctor in doctors %}
        <option value="{{ doctor.id }}">{{ doctor.name }}</option>
        {% endfor %}
    </select><br>

    <label for="treatment_notes">TREATMENT NOTES</label><br>
    <textarea name="treatment_notes" id="treatment_notes" rows="2" cols="30" value="{{patient.treatment_notes}}"></textarea><br>
    
    <input class="button" type="submit" value="UPDATE PATIENT"><br>
</form>

{% endblock %}