{% extends 'base.html' %}

{% block content %}
<div class="index">
    <br>
    <h1>PATIENTS</h1>

    <table class="table">
        <tr>
            <th>ALIAS</th>
            <th></th>
            <th>NAME</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td class = "names"><a href="/patients/{{ patient.id }}"> {{patient.alias}} </a></td>
            <td>|</td>
            <td>{{ patient.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>
    <form action="/patients/new" method="GET">
        <input class="button" type="submit" value="ADD NEW PATIENT">
    </form>
    </p>
</div>
{% endblock %}