{% extends 'base.html' %}

{% block content %}
<div class="show">
    <br>
    <h1>PATIENT DETAILS</h1>    
    <p>Alias / Name: {{ patient.alias }} / {{ patient.name }} </p>
    <p>Age: {{patient.age}}</p>
    {% if patient.enhanced %} 
        <p>Enhanced: Yes</p>
    {% else %} 
        <p>Enhanced: No</p>
    {% endif %}
    <p>Apprehended by: {{patient.vigilante.name}}</p>
    <p>Treatment by: {{patient.doctor.name}}</p>
    <p>Treatment notes:</p>
    
    <p class = "notes">{{patient.treatment_notes}}</p>
    


<form action="/patients/{{patient.id}}/edit" method="GET">
<input class="button" type="submit" value="UPDATE PATIENT">
</form>

<form action="/patients/{{patient.id}}/delete" method="POST">
    <input class="button" type="submit" value="REMOVE PATIENT">
</form>
</div>

{% endblock %}