{% extends 'base.html' %}

{% block content %}
<div class="show">
    <br>
    <h1>PATIENT DETAILS</h1>    
    <p>ALIAS / NAME: {{ patient.alias }} / {{ patient.name }} </p>
    <p>AGE: {{patient.age}}</p>
    {% if patient.enhanced %} 
        <p>ENHANCED: YES</p>
    {% else %} 
        <p>ENHANCED: NO</p>
    {% endif %}
    <p>APPREHENDED BY: <a class = show_links href="/vigilantes/{{ patient.vigilante.id }}"> {{patient.vigilante.name}} </a></p>

    <p>TREATMENT BY: <a class = show_links href="/doctors/{{ patient.doctor.id }}">DR. {{patient.doctor.name}} </a></p>
    <p>TREATMENT NOTES:</p>
    
    <p class = "notes">{{patient.treatment_notes}}</p>
    


<form action="/patients/{{patient.id}}/edit" method="GET">
<input class="button" type="submit" value="UPDATE PATIENT">
</form>

<form action="/patients/{{patient.id}}/delete" method="POST">
    <input class="button" type="submit" value="REMOVE PATIENT">
</form>
</div>

{% endblock %}