{% extends 'base.html' %}

{% block content %}
<div class="edit">
<br>
<h1>EDIT OFFICER/VIGILANTE</h1>

<form action="/vigilantes/{{vigilante.id}}" method="post">

    <label for="name">NAME</label><br>
    <input class = "input"  type="text" name="name" id="name" value="{{vigilante.name}}"required><br>

    <label for="type">TYPE</label><br>
    <input class = "input"  type="text" name="type" id="type" value="{{vigilante.type}}"required><br>

    <input class="button" type="submit" value="UPDATE OFFICER/VIGILANTE"><br>
</form>
</div>
{% endblock %}