<!DOCTYPE html>
<html>

<head>
    <title>A R K H A M</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">

</head>

<body>
    <main>
        <nav>
            <ul class="links">
                <li>
                    <a href="/doctors">MEDICAL PROFESSIONALS</a>
                </li>
                <li>
                    <a href="/vigilantes">GCPD | VIGILANTES</a>
                </li>
                <li>
                    <a href="/patients">PATIENTS</a>
                </li>
            </ul>
        </nav>
        <section>
            {% block content %}

            {% endblock%}
        </section>
    </main>
</body>

</html>